<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Add Student</title>
  </head>
  <body>
    <form action="{{ url_for('add') }}" method="POST">
      <label>Student ID</label>
      <input name="id" type="number">
      <label>Student Name</label>
      <input name="student_name" type="text">
      <label>Subject</label>
      <input name="subject" type="text">
      <label>Grade</label>
      <input name="grade" type="number">
      <button type="submit">Add Student Grade</button>
    </form>
  </body>
</html>